// Variable
$body-font-size: 1.6rem;
$body-font-color: #5f5f5f;
$body-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Playfair Display', sans-serif;
$light-color: #f4f4f4;
$dark-color: #262626;
$light-gray-color: #f2f3f7;
$orange-color: #ec5453;
$blue-color: #2c98f0;
$yellow-color: #f9bf3f;
$purple-color: #a84cb8;
$dark-blue-color: #4054b2;

// / *Base styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $body-font-family;
  color: $body-font-color;
  font-size: $body-font-size;
}

a {
  display: block;
  text-decoration: none;
}

section:not(.hero) {
  padding: 5rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.heading-group {
  color: $dark-color;
  margin-bottom: 5rem;

  .section-head-small {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 3px;
    margin-bottom: 1rem;
  }
  .section-head-large {
    font-size: 1.8rem;
    font-family: $heading-font-family;
    text-transform: uppercase;
    letter-spacing: .5rem;
  }
}

.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  display: inline-block;
  transition: all .5s;
}

.btn-blue {
  background-color: $blue-color;
  color: $light-color;
  margin-top: 2.5rem;
  padding: 1rem 5rem;

  &:hover {
    background-color: #2977b1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.5rem;
}

.margin-top {
  margin-top: 5rem;
}