@media screen and (max-width: 1030px) {
  .hamburger-menu {
    display: flex;
    width: 5rem;
    height: 5rem;
    background-color: $dark-color;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2.6rem;
    cursor: pointer;
    transition: transform;
    z-index: 2000;

    i {
      margin: auto;
    }

    .close {
      display: none;
    }
  }

  .is-open .hamburger-menu {
    transform: translateX(21rem);
  }

  .is-open .close {
    display: block;
  }
  .is-open .open {
    display: none;
  }

  .nav {
    transform: translateX(-27rem);
    transition: transform .5s;
  }

  .is-open .nav {
    transform: translateX(0);
  }

  .main {
    width: 100%;
    transform: initial;
  }

  .is-open .hero::after {
    opacity: 1;
    transform: scale(1);
  }

  .hero {
    height: 80vh;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 999;
      opacity: 0;
      transform: scaleX(0);
      transition: opacity .5s;
    }
  }

  .name-heading {
    font-size: 25vw;
  }

  .my-portfolio {
    .grid {
      .grid-item {
        .portfolio-item-info {
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 1;

          .project-name {
            transform: translateY(0);
          }
        }
      }
    }
  }
}